<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{adminTemplate/adminLayout}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Staff DashBoard</title>
  <style>
    .extra-info{
      padding-left: 30px;
      font-size: 30px;
    }
  </style>
</head>
<body>
  <section layout:fragment="content">
    <div class="content-wrapper">

    </div>

  </section>
</body>
<section layout:fragment="optional">

</section>
</html>
